## EDA 

1. Chi-Square Test of Indepedence
2. One-way ANOVA test for Variance Comparison

In [29]:
# import dependencies
import pandas as pd
import numpy as np
import plotly.express as px

listing out all the column names

In [30]:
data_mat = pd.read_csv("artifacts/raw/middle-student-mat.csv",sep=";")
data_mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Due to the large number of attributes, we narrowed our scope to focus on features that are uncontrollable by students (i.e. Students inherent background). These features include:

- School
- Sex
- Age
- Address
- Famsize (Family Size)
- Pstatus (Parent's Cohabitation Status)
- Medu (Mother's Education)
- Fedu (Father's Education)
- Mjob (Mother's Job)
- Fjob (Father's Job)
- Reason (Reason to choose this school)
- Nursery (attended nursery school)

In [31]:
independent_feat = ['school','sex','age','address','famsize','Pstatus','Medu','Fedu','Mjob', 'Fjob','reason','nursery']
independent_feat

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'nursery']

In [32]:
dependent_feat = ['G3']
dependent_feat

['G3']

In [33]:
# unique values for age
data_mat['age'].unique()

array([18, 17, 15, 16, 19, 22, 20, 21])

## 1. Testing for correlation between Independent variables

Before performing correlation between independent and dependent variables, we will need to test that the independent variables are truly independent of each other.

We will use Chi Square test for Independence to verify this for categorical variables. Most of the variables are already categorical data except for `Age`. However, there are only 8 unique values for `Age` hence we will treat `Age` as a categorical variable for the test of independence.

- Null Hypothesis: There is **no relationship** between the 2 variables
- Alternate Hypothesis: There is **a relationship** betwen the 2 variables

In [34]:
import scipy.stats as stats

In [35]:
def calculate_chi_square_results(features, df):
    """
    Calculates chi-square test results for all possible pairs of features in a given data matrix.
    
    Parameters:
        independent_feat (list): List of feature names to compare
        data_mat (pandas.DataFrame): Data matrix containing the features
    
    Returns:
        chi_sqr_res_lst (list): List of dictionaries containing chi-square test results for each pair of features
    """
    chi_sqr_res_lst = []  # Initialize an empty list to store the results
    
    # Loop over all possible pairs of features
    for i in range(len(features)):
        for j in range(i+1, len(features)):
            # Calculate crosstabulation for the two features
            crosstab = pd.crosstab(df[features[i]],df[features[j]])
            # Perform chi-square test on the crosstabulation
            res = stats.chi2_contingency(crosstab)
            # Store the results in a dictionary
            results_dict = {
                'variables': (features[i], features[j]),
                'pvalue': res.pvalue,
                'statistics': res.statistic,
                'dof': res.dof,
                'expected_freq': res.expected_freq,
            }
            # Append the dictionary to the results list
            chi_sqr_res_lst.append(results_dict)
    
    return chi_sqr_res_lst

def print_significant_results(chi_sqr_res_lst):
    """
    Prints the variables and p-values for all significant chi-square test results in a list of results.
    A result is considered significant if its p-value is less than 0.05.
    
    Parameters:
        chi_sqr_res_lst (list): List of dictionaries containing chi-square test results for each pair of features
    
    Returns:
        None
    """
    count = 0
    data = {}
    # Loop over all results in the list
    for results in chi_sqr_res_lst:
        # Get the p-value and variables for the current result
        pvalue = float(results.get('pvalue'))
        variables = results.get('variables')
        
        # Check if the result is significant
        if pvalue < 0.05:
            # Print the variables and p-value, rounded to 4 decimal places
            print(variables, pvalue)
            count+=1

    if count == 0:
        print("There are no variables that have relationship with each other")

In [36]:
chi_sqr_res_lst = calculate_chi_square_results(features=independent_feat, df=data_mat)
dict_chisqr = print_significant_results(chi_sqr_res_lst)

('school', 'age') 2.8253973276676154e-13
('school', 'address') 7.77068354957483e-08
('school', 'Medu') 0.00031360912544192357
('school', 'reason') 0.005947834009263454
('sex', 'Mjob') 0.0015564385627536573
('age', 'address') 0.0034680030378527907
('address', 'Medu') 0.019257159259757555
('address', 'Mjob') 0.01013724484686267
('address', 'reason') 0.021804456830089435
('famsize', 'Pstatus') 0.00524754575877353
('Pstatus', 'Medu') 0.010369983537476098
('Medu', 'Fedu') 8.014562451932377e-34
('Medu', 'Mjob') 7.752732260542515e-39
('Medu', 'Fjob') 4.8280932164911185e-06
('Medu', 'nursery') 0.00026084822887275803
('Fedu', 'Mjob') 4.206183361043177e-08
('Fedu', 'Fjob') 9.007362084326286e-16
('Fedu', 'nursery') 0.02068060288889864
('Mjob', 'Fjob') 2.533576541234461e-09
('Mjob', 'reason') 0.02818547173558085

Let's drop school, address, Fedu, Medu, Fjob and Pstatus and check for relationships using chi square again

In [37]:
new_categorical_feats = [feat for feat in independent_feat if feat not in ['school', 'address', 'Fedu', 'Medu','Mjob','Pstatus']]
new_categorical_feats

['sex', 'age', 'famsize', 'Fjob', 'reason', 'nursery']

In [38]:
new_chi_sqr_res_lst = calculate_chi_square_results(features=new_categorical_feats, df=data_mat)
print_significant_results(new_chi_sqr_res_lst)

There are no variables that have relationship with each other

With Chi Square Test of Independence, we can conclude that without the following features - school, address, Fedu, Medu, Fjob and Pstatus, the remaining features *('sex', 'age', 'famsize', 'Mjob', 'reason', 'nursery')* are independent of each other.

## 2. Split Features for T-Test and ANOVA

Dependeing of the number of sample groups within each categorical feature, that will determine if we should use ANOVA or t-test. Features with more than 2 sample groups will run ANOVA test, while features with 2 sample groups will be tested with t-test.

In [39]:
def split_features_by_test(df, feat_lst):
    """
    Splits the independent features of a dataset into two lists, one for t-tests and one for ANOVA.

    Parameters:
    df: a pandas DataFrame containing the dataset
    independent_feat: a list of the names of the independent features

    Returns:
    Two lists of the names of the independent features, one for t-tests and one for ANOVA.
    """

    # Initialize empty lists for the t-tests and ANOVA
    ttest_lst = []
    anova_lst = []

    # Loop through each column in the independent features
    for col in feat_lst:

        # Check the number of unique values in the column
        nuniques = df[col].nunique()

        # If there are more than 2 unique values, add the column to the list for ANOVA
        if nuniques > 2:
            anova_lst.append(col)

        # Otherwise, add the column to the list for t-tests
        else:
            ttest_lst.append(col)

    # Return the lists of independent features for t-tests and ANOVA
    return ttest_lst, anova_lst

In [40]:
# split the categorical independent features 
# note that we are treating AGE as a categorical feature
ttest_lst, anova_lst = split_features_by_test(data_mat, independent_feat)

## 3 Testing for Homogeneity of Variance

- Null Hypothesis: The distribution, or “spread,” of scores around the mean of two or more samples are **considered equal**.
- Alternative Hypothesis: The distribution, or “spread,” of scores around the mean of two or more samples are **not equal**.

In [41]:
from scipy.stats import levene

def calculate_levene_tests(unique_array_lst, feats):
    """
    Calculates the Levene test statistic and p-value for all possible number of sample groups.

    Parameters:
    unique_array_lst: a list of unique arrays to test. Length of array represents the number of sample groups. Minimum is 2.
    feats: the name of the feature being tested

    Returns:
    A list of dictionaries containing the results of the Levene tests.
    """
    
    # Loop through each possible combination of unique arrays
    for i in range(2, len(unique_array_lst) + 1):

        # Select the first i unique arrays from the list
        samples = unique_array_lst[:i]

        # Calculate the Levene test statistic and p-value for the selected samples
        stat, p = levene(*samples, center='median', proportiontocut=0.05)

        # Create a dictionary with the results of the Levene test
        levene_dict = {
            'feature': feats, # The name of the feature being tested
            'statistic': stat, # The calculated Levene test statistic
            'pvalue': p # The calculated p-value
        }

    # Return the list of Levene test results
    return levene_dict

In [42]:
def get_sample_groups(df, feat_lst, scores):
    """
    This function returns a list of dictionaries where each dictionary represents a feature in feat_lst
    and its corresponding sample groups as arrays. Each dictionary will contain list of arrays, with each array representing the score values for each sample group. 
    
    Args:
        df (pandas DataFrame): The data to be used for testing
        feat_lst (list): A list of feature names 
    
    Returns:
        list: A list of dictionaries representing each feature and its sample groups as arrays.
    """
    sample_groups_array_lst = []
    # Loop over each feature in ttest_lst
    for feat in feat_lst:
        # Get unique values of the current feature
        sample_groups = df[feat].unique()
        sample_group_array_lst = []
        # Loop over each unique value and get the corresponding data points for that value
        for i in range(len(sample_groups)):
            df_sample_group = df.loc[df[feat] == sample_groups[i]]
            # Append the data points as an array to sample_group_array_lst
            sample_group_array_lst.append(df_sample_group[scores])
        
        # Create a dictionary to store the feature name and its corresponding sample groups as arrays
        feature_array_dict = {
            'feature': feat,
            'sample_group_array_lst': sample_group_array_lst
        }
        # Append the dictionary to sample_groups_array_lst
        sample_groups_array_lst.append(feature_array_dict)
    
    return sample_groups_array_lst

### 3.1 Testing for Homogeneity of Variance for t-test features

In [43]:
# retrieving arrays of sample groups from features that will be tested using t-test 
ttest_sample_groups_array_lst = get_sample_groups(data_mat, ttest_lst, 'G3')

# run levene tests to determine if homogeneity of variance is satisfied
ttest_levene_res_lst = []
for item in ttest_sample_groups_array_lst:
    feat = item.get('feature')
    array_lst = item.get('sample_group_array_lst')

    levene_dict = calculate_levene_tests(array_lst, feat)
    ttest_levene_res_lst.append(levene_dict)

ttest_levene_res_lst

[{'feature': 'school',
  'statistic': 0.8377081603117896,
  'pvalue': 0.3606142973401584},
 {'feature': 'sex',
  'statistic': 0.06847571965446789,
  'pvalue': 0.7937062862303847},
 {'feature': 'address',
  'statistic': 0.039462285189423164,
  'pvalue': 0.8426383524673037},
 {'feature': 'famsize',
  'statistic': 1.062426470207238,
  'pvalue': 0.3032963295247042},
 {'feature': 'Pstatus',
  'statistic': 0.483787387888353,
  'pvalue': 0.48712285383963405},
 {'feature': 'nursery',
  'statistic': 0.22789022933888387,
  'pvalue': 0.6333579961143636}]

In [44]:
for item in ttest_levene_res_lst:
    if item.get('pvalue') < 0.05:
        print(f"{item.get('feature')}: student t-test")
    else:
        print(f"{item.get('feature')}: welch's t-test")

school: welch's t-test
sex: welch's t-test
address: welch's t-test
famsize: welch's t-test
Pstatus: welch's t-test
nursery: welch's t-test

We can see that all of the features for t-test here fail to meet the assumption of homogeneity of variance. We will go with Welch's t-test instead

### 3.2 Testing for Homogeneity of Variance for ANOVA features

In [45]:
# retrieving arrays of sample groups from features that will be tested using t-test 
anova_sample_groups_array_lst = get_sample_groups(data_mat, anova_lst, 'G3')

# run levene tests to determine if homogeneity of variance is satisfied
anova_levene_res_lst = []
for item in anova_sample_groups_array_lst:
    feat = item.get('feature')
    array_lst = item.get('sample_group_array_lst')

    levene_dict = calculate_levene_tests(array_lst, feat)
    anova_levene_res_lst.append(levene_dict)

anova_levene_res_lst

[{'feature': 'age',
  'statistic': 0.6184299930183529,
  'pvalue': 0.7407570882158565},
 {'feature': 'Medu',
  'statistic': 0.27005190957066255,
  'pvalue': 0.8971999681625331},
 {'feature': 'Fedu',
  'statistic': 0.2928719056858835,
  'pvalue': 0.8825683002555373},
 {'feature': 'Mjob',
  'statistic': 0.18960947683040633,
  'pvalue': 0.9437753301264346},
 {'feature': 'Fjob',
  'statistic': 0.938846216099165,
  'pvalue': 0.44132948635335056},
 {'feature': 'reason',
  'statistic': 0.8430266176142672,
  'pvalue': 0.4709416983605361}]

In [46]:
for item in anova_levene_res_lst:
    if item.get('pvalue') < 0.05:
        print(f"{item.get('feature')}: One-way ANOVA")
    else:
        print(f"{item.get('feature')}: Kruskal-Wallis ANOVA")

age: Kruskal-Wallis ANOVA
Medu: Kruskal-Wallis ANOVA
Fedu: Kruskal-Wallis ANOVA
Mjob: Kruskal-Wallis ANOVA
Fjob: Kruskal-Wallis ANOVA
reason: Kruskal-Wallis ANOVA

We can see that all of the features for ANOVA here fail to meet the assumption of homogeneity of variance. We will go with Kruskal-Wallis ANOVA instead

## 4. Welch's T-test between Independent and Dependent Variable

We will use Welch's t-test to compare the grade means against student's background. Only background features with 2 sample groups can be used to run the t-test.

In [47]:
from scipy.stats import ttest_ind

def run_ttest(array_lst, feat):
    """
    Perform a t-test on two arrays and return the statistic and p-value.

    Args:
        array_lst (list): A list containing two arrays to compare.
        feat (str): The feature name.

    Returns:
        dict: A dictionary containing the feature name, t-test statistic, and p-value.
    """
    stats, p = ttest_ind(array_lst[0], array_lst[1], equal_var = False)
    return {'feature': feat, 'statistic': stats, 'pvalue': p}

In [48]:
ttest_res_lst = []
for item in ttest_sample_groups_array_lst:
    feat = item.get('feature')
    array_lst = item.get('sample_group_array_lst')

    ttest_dic = run_ttest(array_lst, feat)
    ttest_res_lst.append(ttest_dic)
ttest_res_lst

[{'feature': 'school',
  'statistic': 0.9555475253722291,
  'pvalue': 0.3431316933314036},
 {'feature': 'sex',
  'statistic': -2.0650572003629564,
  'pvalue': 0.03957700303089973},
 {'feature': 'address',
  'statistic': 2.1101367617785494,
  'pvalue': 0.03661381145664286},
 {'feature': 'famsize',
  'statistic': -1.6942894182883583,
  'pvalue': 0.09155470562414127},
 {'feature': 'Pstatus',
  'statistic': 1.2196750248412154,
  'pvalue': 0.228164691976038},
 {'feature': 'nursery',
  'statistic': 1.0271053558051693,
  'pvalue': 0.30635403814971324}]

In [49]:
for item in ttest_res_lst:
    if item.get('pvalue') < 0.05:
        print(f"{item.get('feature')}: Reject null hypothesis; There are significant differences in means")
    else:
        print(f"{item.get('feature')}: Unable to reject null hypothesis; There are no differences in means")

school: Unable to reject null hypothesis; There are no differences in means
sex: Reject null hypothesis; There are significant differences in means
address: Reject null hypothesis; There are significant differences in means
famsize: Unable to reject null hypothesis; There are no differences in means
Pstatus: Unable to reject null hypothesis; There are no differences in means
nursery: Unable to reject null hypothesis; There are no differences in means

## 5. ANOVA Test between Independent and Dependent Variable

We will use a Kruskal-Wallis one-way  ANOVA for comparing variance across the average final grades (G3) against student's background. All background features will be used to check for differences.

- Null Hypothesis: There is no difference in means of grades (G3)
- Alternate Hypothesis: There is a difference in means of grades (G3)

In [50]:
from scipy.stats import f_oneway

def calculate_anova_results(feats, df):
    """
    Calculates ANOVA test results for each categorical feature in a given data matrix.
    
    Parameters:
        new_categorical_feats (list): List of categorical feature names
        data_mat (pandas.DataFrame): Data matrix containing the categorical features
    
    Returns:
        anova_res_lst (list): List of dictionaries containing ANOVA test results for each feature
    """
    anova_res_lst = []  # Initialize an empty list to store the results
    
    # Loop over all categorical features
    for feat in feats:
        # Extract the feature and the dependent variable (G3) from the data matrix
        df_feats = df[[feat,'G3']]
        # Get the unique categories for the feature
        categories = df_feats[feat].unique()
        # Create a list of dataframes, one for each category
        feats_lst = [df_feats.loc[df_feats[feat]== cat] for cat in categories]
        print(feats_lst)
        # Perform ANOVA test on the dataframes
        res = f_oneway(feats_lst[0]['G3'],feats_lst[1]['G3'])
        # Store the results in a dictionary
        anova_dict = {
            'variable': feat,
            'statistic': res.statistic,
            'pvalue': res.pvalue
        }
        # Append the dictionary to the results list
        anova_res_lst.append(anova_dict)
    
    return anova_res_lst

In [51]:
#sort variables by ascending p-values (lower the p-values, higher the significance)
anova_res_lst = calculate_anova_results(anova_lst, data_mat)
sorted_results = sorted(anova_res_lst, key=lambda x: x['pvalue'])
for item in sorted_results:
    print(item)

[     age  G3
0     18   6
128   18   0
150   18   0
157   18  10
213   18   8
..   ...  ..
385   18  10
386   18   6
388   18   8
389   18   0
393   18  10

[82 rows x 2 columns],      age  G3
1     17   6
7     17   6
18    17   5
78    17  10
118   17   8
..   ...  ..
372   17  11
373   17   5
379   17  10
382   17  10
391   17  16

[98 rows x 2 columns],      age  G3
2     15  10
3     15  15
8     15  19
9     15  15
10    15   9
..   ...  ..
147   15  11
149   15  10
152   15  10
155   15   8
161   15   7

[82 rows x 2 columns],      age  G3
4     16  10
5     16  15
6     16  11
15    16  14
16    16  14
..   ...  ..
243   16  12
245   16  18
249   16  15
251   16  10
253   16   8

[104 rows x 2 columns],      age  G3
127   19   9
153   19   0
210   19   8
257   19  11
270   19   9
296   19   0
304   19  13
307   19   8
308   19  12
309   19  10
310   19   0
311   19  13
312   19  11
313   19  11
314   19  13
315   19  11
336   19  13
340   19  11
350   19   8
353   19   8
370   19   9
383   19   0
387   19   0
394   19   9,      age  G3
247   22   8,      age  G3
306   20  18
376   20  15
390   20   9,      age  G3
392   21   7]
[     Medu  G3
0       4   6
3       4  15
5       4  15
7       4   6
10      4   9
..    ...  ..
376     4  15
377     4  10
380     4  14
384     4   5
386     4   6

[131 rows x 2 columns],      Medu  G3
1       1   6
2       1  10
58      1   9
61      1  11
62      1   9
72      1   5
84      1  10
95      1  10
118     1   8
120     1  15
131     1   0
138     1  12
143     1  13
145     1  11
147     1  11
150     1   0
156     1  13
157     1  10
162     1   0
163     1  10
164     1   7
171     1  16
173     1   0
186     1  11
189     1  10
191     1   9
192     1   8
202     1  10
208     1  10
221     1   0
234     1   6
255     1   8
272     1  11
273     1  14
282     1  12
283     1  10
285     1  11
287     1  12
309     1  10
310     1   0
312     1  11
314     1  13
350     1   8
352     1   8
353     1   8
358     1  10
359     1  16
360     1  13
361     1  12
364     1  12
365     1  10
367     1   0
371     1  12
373     1   5
375     1  10
383     1   0
389     1   0
392     1   7
394     1   9,      Medu  G3
4       3  10
8       3  19
9       3  15
17      3  10
18      3   5
..    ...  ..
378     3  15
379     3  10
388     3   8
391     3  16
393     3  10

[99 rows x 2 columns],      Medu  G3
6       2  11
11      2  12
14      2  16
23      2  12
24      2   8
..    ...  ..
381     2   7
382     2  10
385     2  10
387     2   0
390     2   9

[103 rows x 2 columns],      Medu  G3
127     0   9
249     0  15
324     0  15]
[     Fedu  G3
0       4   6
7       4   6
9       4  15
10      4   9
12      4  14
..    ...  ..
369     4  11
374     4  19
377     4  10
380     4  14
386     4   6

[96 rows x 2 columns],      Fedu  G3
1       1   6
2       1  10
11      1  12
55      1  10
61      1  11
..    ...  ..
388     1   8
389     1   0
391     1  16
392     1   7
394     1   9

[82 rows x 2 columns],      Fedu  G3
3       2  15
6       2  11
8       2  19
14      2  16
18      2   5
..    ...  ..
376     2  15
384     2   5
385     2  10
390     2   9
393     2  10

[115 rows x 2 columns],      Fedu  G3
4       3  10
5       3  15
13      3  11
17      3  10
19      3  10
..    ...  ..
365     3  10
368     3  10
378     3  15
382     3  10
387     3   0

[100 rows x 2 columns],      Fedu  G3
76      0  10
171     0  16]
[        Mjob  G3
0    at_home   6
1    at_home   6
2    at_home  10
39   at_home  13
79   at_home   5
86   at_home   6
95   at_home  10
112  at_home  13
120  at_home  15
127  at_home   9
131  at_home   0
134  at_home   0
136  at_home   0
143  at_home  13
147  at_home  11
151  at_home  14
155  at_home   8
157  at_home  10
158  at_home  15
160  at_home   0
163  at_home  10
173  at_home   0
189  at_home  10
191  at_home   9
192  at_home   8
205  at_home   9
208  at_home  10
218  at_home   8
219  at_home  10
220  at_home   6
221  at_home   0
228  at_home   9
235  at_home  10
238  at_home  11
251  at_home  10
264  at_home   0
273  at_home  14
274  at_home  10
282  at_home  12
286  at_home  19
309  at_home  10
311  at_home  13
314  at_home  13
318  at_home  10
324  at_home  15
331  at_home  14
334  at_home   0
343  at_home   0
344  at_home  10
352  at_home   8
359  at_home  16
360  at_home  13
361  at_home  12
363  at_home  15
365  at_home  10
368  at_home  10
371  at_home  12
379  at_home  10
385  at_home  10,        Mjob  G3
3    health  15
12   health  14
15   health  14
19   health  10
21   health  15
27   health  15
30   health  12
47   health  20
51   health  13
52   health  10
60   health  11
68   health   8
109  health  16
114  health   9
123  health  13
146  health   0
167  health  16
169  health  14
188  health   9
200  health  16
230  health  14
233  health  13
240  health  12
255  health   8
268  health  10
278  health   8
291  health  15
295  health  11
296  health   0
300  health  11
303  health  18
348  health  15
351  health  13
376  health  15,       Mjob  G3
4    other  10
6    other  11
7    other   6
9    other  15
14   other  16
..     ...  ..
383  other   0
384  other   5
389  other   0
392  other   7
394  other   9

[141 rows x 2 columns],          Mjob  G3
5    services  15
8    services  19
11   services  12
16   services  14
18   services   5
..        ...  ..
370  services   9
387  services   0
390  services   9
391  services  16
393  services  10

[103 rows x 2 columns],         Mjob  G3
10   teacher   9
13   teacher  11
20   teacher  15
22   teacher  16
29   teacher  11
32   teacher  16
36   teacher  18
41   teacher  12
48   teacher  14
57   teacher  15
63   teacher   9
65   teacher  15
75   teacher  10
76   teacher  10
89   teacher   7
93   teacher  10
110  teacher  19
113  teacher  19
115  teacher  16
129  teacher  18
139  teacher  15
140  teacher   0
142  teacher  11
148  teacher   0
172  teacher  10
175  teacher   9
178  teacher   9
180  teacher   8
197  teacher  10
199  teacher  10
207  teacher  13
209  teacher   7
224  teacher  14
232  teacher   9
241  teacher  12
242  teacher   0
256  teacher  13
261  teacher   8
267  teacher  11
277  teacher   9
279  teacher  10
281  teacher  10
289  teacher  15
290  teacher  11
299  teacher  16
307  teacher   8
319  teacher  11
328  teacher   9
329  teacher  14
341  teacher   0
346  teacher  16
347  teacher   9
356  teacher  13
366  teacher  13
377  teacher  10
380  teacher  14
386  teacher   6
388  teacher   8]
[        Fjob  G3
0    teacher   6
7    teacher   6
29   teacher  11
37   teacher  15
42   teacher  18
49   teacher   7
60   teacher  11
101  teacher  17
110  teacher  19
115  teacher  16
116  teacher  14
129  teacher  18
130  teacher   0
134  teacher   0
139  teacher  15
148  teacher   0
154  teacher  12
196  teacher  16
198  teacher  18
199  teacher  10
222  teacher  17
232  teacher   9
287  teacher  12
289  teacher  15
299  teacher  16
301  teacher  10
329  teacher  14
369  teacher  11
380  teacher  14,       Fjob  G3
1    other   6
2    other  10
4    other  10
5    other  15
6    other  11
..     ...  ..
385  other  10
387  other   0
389  other   0
392  other   7
393  other  10

[217 rows x 2 columns],          Fjob  G3
3    services  15
12   services  14
16   services  14
18   services   5
25   services   8
..        ...  ..
382  services  10
383  services   0
388  services   8
390  services   9
391  services  16

[111 rows x 2 columns],        Fjob  G3
10   health   9
21   health  15
24   health   8
38   health  11
52   health  10
57   health  15
63   health   9
89   health   7
94   health  14
105  health  11
109  health  16
122  health  13
169  health  14
217  health   8
274  health  10
278  health   8
303  health  18
314  health  13,         Fjob  G3
32   at_home  16
44   at_home   9
58   at_home   9
99   at_home   8
135  at_home   0
143  at_home  13
153  at_home   0
219  at_home  10
257  at_home  11
273  at_home  14
286  at_home  19
292  at_home  13
305  at_home  12
324  at_home  15
336  at_home  13
343  at_home   0
363  at_home  15
372  at_home  11
386  at_home   6
394  at_home   9]
[     reason  G3
0    course   6
1    course   6
12   course  14
13   course  11
18   course   5
..      ...  ..
390  course   9
391  course  16
392  course   7
393  course  10
394  course   9

[145 rows x 2 columns],     reason  G3
2    other  10
21   other  15
27   other  15
35   other   6
49   other   7
51   other  13
52   other  10
54   other  13
55   other  10
60   other  11
100  other   5
101  other  17
109  other  16
178  other   9
185  other  11
186  other  11
192  other   8
207  other  13
214  other  10
222  other  17
247  other   8
249  other  15
252  other   8
266  other  10
286  other  19
311  other  13
345  other  14
356  other  13
361  other  12
362  other  10
366  other  13
369  other  11
371  other  12
381  other   7
383  other   0
385  other  10,     reason  G3
3     home  15
4     home  10
6     home  11
7     home   6
8     home  19
..     ...  ..
375   home  10
378   home  15
380   home  14
382   home  10
384   home   5

[109 rows x 2 columns],          reason  G3
5    reputation  15
10   reputation   9
11   reputation  12
16   reputation  14
17   reputation  10
..          ...  ..
357  reputation  11
367  reputation   0
374  reputation  19
379  reputation  10
386  reputation   6

[105 rows x 2 columns]]
{'variable': 'Medu', 'statistic': 20.965272048704946, 'pvalue': 8.49017278323326e-06}
{'variable': 'Fedu', 'statistic': 10.087338049374276, 'pvalue': 0.0017630928393755144}
{'variable': 'Mjob', 'statistic': 9.313348035987374, 'pvalue': 0.002981454150613827}
{'variable': 'Fjob', 'statistic': 3.741017809408278, 'pvalue': 0.05424841968457241}
{'variable': 'reason', 'statistic': 2.3843787145700515, 'pvalue': 0.1243196822055902}
{'variable': 'age', 'statistic': 1.1027568354139103, 'pvalue': 0.2950855248030284}

In [52]:
def print_significant_variables(anova_res_lst: list) -> None:
    """
    Print the variables that have a significant p-value (< 0.05) from a list of ANOVA results.

    Args:
        anova_res_lst (list): A list of dictionaries containing ANOVA results for different variables.
            Each dictionary contains the variable name and its corresponding p-value.

    Returns:
        None: This function doesn't return anything, it just prints the significant variables.

    """
    # Sort the list of ANOVA results by p-value in ascending order
    sorted_results = sorted(anova_res_lst, key=lambda x: float(x.get('pvalue')))
    
    # Iterate through each dictionary in the sorted list of ANOVA results
    for result in sorted_results:
        # Get the variable name and p-value from the current dictionary
        variable = result.get('variable')
        pvalue = float(result.get('pvalue'))
        
        # Check if the p-value is less than 0.05 (i.e. significant)
        if pvalue < 0.05:
            # If significant, print the variable name
            print(variable)

In [53]:
print_significant_variables(anova_res_lst)

Medu
Fedu
Mjob

With one-way ANOVA, we can conclude that these features (Mother's Education, Father's Education, Mother's Job, Address and Sex) show differences in grades among the students, which might indicate that some background factors have an effect on students' grades. This also supports our initial hypothesis that parent's education play a big part in students' grades.

## 6. Student t-Test Analysis of Student's grade 

We will use student t-test to determine if providing extra educational support does improves students' grades

- Null Hypothesis: There is no significant difference in the mean students' grades between the groups that received extra educational support and the group that did not receive extra educational support.
- Alternate Hypothesis: There is a significant difference in the mean students' grades between the groups that received extra educational support and the group that did not receive extra educational support.

In [54]:
import pandas as pd
from scipy.stats import ttest_ind

def student_t_test(feat1, grade ,df, alpha):
    
    group1 = df[df[feat1]== 'yes'][grade]
    group2 = df[df[feat1]== 'no'][grade]

    stat, p = ttest_ind(group1, group2)
    
    if p < alpha:
        print(f"Test Statistic: {stat}, p_value: {p} < alpha: {alpha}, {feat1} does improve grades")
    else:
        print(f"Test Statistic: {stat}, p_value: {p} > alpha: {alpha}, {feat1} does not improve grades")

In [55]:
student_t_test('schoolsup', 'G3', data_mat, 0.05)

Test Statistic: -1.6468658378374499, p_value: 0.10038496363910418 > alpha: 0.05, schoolsup does not improve grades

With student t-test, we can conclude that providing extra educational support does not improve grades

In [56]:
student_t_test('famsup', 'G3', data_mat, 0.05)

Test Statistic: -0.7768559575314726, p_value: 0.43771108589489893 > alpha: 0.05, famsup does not improve grades

Similarly, with student t-test, we an conclude providing family education support does not improve grades